<?xml version="1.0" encoding="UTF-8" ?>
<ce325server>
  <listen port="8000" />
  <statistics port="8001" />
  <log>
    <access filepath="access_log.txt" />
    <error filepath="error_log.txt" />
  </log>
  <documentroot filepath="/home/" />
  <mimetypes filepath="mime-types.txt" />
</ce325server>

